.current-date {
    color: yellow !important;
    background-color: rgb(83, 128, 115) !important;
}

.div-ChiTietLich th,
th {
    background-color: #0070c0 !important;
    font-weight: bold;
    border: 1px solid white;
    text-align: center;
    padding: 5px;
    line-height: 17px;
    color: white;
}

td {
    border: 1px solid rgb(218, 215, 215);
    padding-right: 3px;
    position: relative;
}

body {
    line-height: 1;
    font-weight: normal;
}

@media only screen and (max-width: 1200px) {
    body {
        rotate: 90deg;
    }
}

@media screen and (max-width: 768px) {
    body {
        rotate: 90deg;
    }
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
}

td div {
    padding: 5px;
    box-shadow: 3px 3px 10px rgb(131, 131, 131);
    margin-bottom: 5px;
}

.div-LichHoc {
    background-color: #ddebf7;
}